body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.SCalc {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 20px;
  box-shadow: 3px 3px 3px 3px gray;
  border-radius: 10px;
}
.SCalc > h1 {
  color: gray;
  text-align: center;
  font-size: 30px;
}
label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
input {
  padding: 12px 7px;
  font-size: 15px;
  border: 1px solid gray;
  margin-left: 10px;
  border-radius: 5px;
}
.SCalc > .btns {
  margin: auto;
}
.SCalc > .btns > button {
  padding: 20px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}
.SCalc > .btns > button:nth-child(1) {
  background-color: #1167c4;
}
.SCalc > .btns > button:nth-child(2) {
  background-color: #ffc107;
}
.SCalc > .btns > button:nth-child(3) {
  background-color: #dc3545;
}
#result {
  text-align: center;
  display: none;
  color: black;
  font-size: 20px;
}
@media (max-width: 992px) {
  .SCalc {
    width: 100%;
  }
}
